.bg-moringa{
    background-color: #FFA500;
    
}

.border{
    border: 1px solid #000000;
}

.conner-radius{
    border-radius: 25px;
}

.container{
    float:left;
    width: 350px;
    margin:10px;
}

